/* YOUR CUSTOM STYLES */
a:hover {
    text-decoration: none;
}
.text-center {
    text-align: center !important;
}
.m-top-4 {
    margin-top: 4px;
}
.m-bottom-20 {
    margin-bottom: 20px;
}
.main-content {
    height: 620px;
}
.main-text-middle {
    margin-top: 50%;
}

.text-upper {
    text-transform: uppercase;
}
.vertical-align-middle {
    vertical-align: middle;
}
.btn-white-btn-rounded {
    background: #fff;
    color: #f44336 !important;
    border-radius: 20px !important;
}
footer.page-footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
}


@media screen and (max-width: 1400px) {
    .chat {
        top: 27000% !important;
    }
}

@media screen and (max-width: 992px) {
    .chat {
        top: 27000% !important;
    }
}

@media screen and (max-width: 820px) {
    .chat {
        width: 300px !important;
        top: 26500% !important;
    }
    footer.page-footer {
        position: relative;
    }
}

@media screen and (max-width: 768px) {
    .main-content {
        height: 580px;
    }
    
}
@media screen and (max-width: 767px) {
    .main-text-middle {
        margin-top: 10%;
    }
    .chat {
        top: 23500% !important;
        left: 50% !important;
    }
    .main-content {
        height: 700px;
    }
}

@media screen and (max-width: 425px) {
    .chat {
        margin-top: 0px !important;
    }
}

@media screen and (max-width: 420px) {
    .chat {
        width: 90% !important;
    }
}

@media screen and (max-width: 320px) {
}