<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height: 100%
      margin: auto;
  }
  .carousel-control.left {
    background-image:none
  }
  .carousel-control.right {
    background-image:none
  }
.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  </style>
</head>
<body>

<div class="container">
  <br>
    <!-- Indicators -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
      <%if(typeof list != 'undefined') {%>
        <%for(var i = 0; i < list.length; i++) {%>
          <%if(i == 0) {%>
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <% } else { %>
            <li data-target="#myCarousel" data-slide-to="<%=i%>"></li>
          <% } %>
        <%}%>
      <%}%>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox"> 
        <%if(typeof list != 'undefined') {%>
          <%for(var i = 0; i < list.length; i++) { %>
          <%if(i == 0) {%>
          <div class="item active">
          <% } else { %>
          <div class="item">
          <% } %>
            <div style="width:100%;height:100%">
              <%=list[i].outbound.stops%>
            </div>
          </div>          
        <%}%>
      <%}%>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</body>
  <script>
    var $item = $('.carousel .item'); 
    var $wHeight = $(window).height();
    $item.eq(0).addClass('active');
    $item.height($wHeight); 
    $item.addClass('full-screen');
    $('.carousel img').each(function() {
      var $src = $(this).attr('src');
      var $color = $(this).attr('data-color');
      $(this).parent().css({
        'background-image' : 'url(' + $src + ')',
        'background-color' : $color
      });
      $(this).remove();
    });
    $(window).on('resize', function (){
      $wHeight = $(window).height();
      $item.height($wHeight);
    });
    $('.carousel').carousel({
      interval: 6000,
      pause: "false"
    });    
</script>
</html>